*{
    margin: 0;
    padding: 0;

}

#header {  
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;
    align-items: center;
    background-image: url('./assets/images/images.jpg');
    margin: 0;
    padding: 0;
    background-position: center;
    background-repeat: round;
}

#header span {
    color: rgb(255, 0, 0);
    font-size: xx-large;
    font-weight: bolder;
    background-color: rgba(0, 128, 0, 0.826);
}

#pt {
    font-weight: bolder;
    color: rgb(255, 0, 0);
}

#divmx, #divau, #divag {
    background-color: rgb(230, 255, 226);
    display: grid;
    grid-template-columns: 10%, 1fr;
    grid-template-rows: 10%, 1fr;
    justify-content: center;
}

.h1 {
    grid-area: 1/1/2/3;
}

.div {
    grid-area: 2/1/3/2;
}

#c1, #c2, #c3 {
    grid-area: 2/2/3/3;
    height: 300px;
    width: 250px;
    border-radius: 4px;
    box-shadow: 7px 13px 37px #000;
}

canvas{
    background-color: aliceblue;
}

#chartag, #chartau, #chartmx {
    width: 250px;
    height: 230px;
}
footer {
    background-color: forestgreen;
    height: 150px;
}